In [1]:
import pandas as pd
import numpy as np

In [27]:
df=pd.read_excel('C:/Users/krishna/Desktop/Book1.xlsx')
df.head()

    locations
0  St. Fergus
1  St. Fergus
2  St. Fergus
3  St. Fergus
4  St. Fergus

In [28]:
len(df['locations'].unique())

36

In [30]:
location=pd.DataFrame()

In [31]:
location['City']=df['locations'].unique()

In [32]:
location.head()

          City
0   St. Fergus
1    The Birks
2    Aberlemno
3  West Calder
4       Moffat

In [20]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\krishna\appdata\local\programs\python\python37\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\krishna\appdata\local\programs\python\python37\lib\site-packages (from geopy) (1.52)

WARNING: You are using pip version 20.2.4; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\krishna\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [14]:
from geopy.geocoders import Nominatim

In [15]:
geolocator=Nominatim(user_agent='app')

In [33]:
lat=[]
long=[]
for locations in location['City']:
    locations=geolocator.geocode(locations)
    if locations is None:
        lat.append(np.nan)
        long.append(np.nan)
    else:
        lat.append(locations.latitude)
        long.append(locations.longitude)

In [34]:
print(lat,long)

[57.5599028, 54.5211932, 56.6914858, 55.8510027, 40.6083135, 54.8666195, 54.7808415, 54.57036085, 51.7871889, 47.6397087, 52.2814519, 52.2632579, 51.4540158, 51.7117492, 56.7542476, 56.514562, 55.8609825, nan, 54.5760419, 71.387113, 53.4794892, 54.7136165, 53.6400914, 53.5466255, 39.7628415, 53.3732727, 53.3569808, 51.4806882, 50.3712659, 51.8784385, 51.7616709, 51.5073219, 52.9380508, 6.216667, 52.4796992, 51.2566507] [-1.8424157, -2.9573939, -2.7795629, -3.5721937, -108.252345, -4.0863807, -4.1272556, -1.2350985277726934, -1.0051337, -97.4534224, -1.5815742, 1.0080204, 0.6979607094472984, -5.0293161, -2.5761055, -3.5764371, -4.2488787, nan, -1.2344047, -156.4809618, -2.2451148, -5.8073112, -6.234911, -6.0863619, -88.2170516, 0.2220177, -3.3222058, -2.7768562, -4.1425658, -0.4152837, -0.0112898, -0.1276474, 4.891082018241331, -10.083333, -1.9026911, -0.0041977]

In [35]:
location['lat']=lat
location['long']=long

In [36]:
location.head()

          City        lat        long
0   St. Fergus  57.559903   -1.842416
1    The Birks  54.521193   -2.957394
2    Aberlemno  56.691486   -2.779563
3  West Calder  55.851003   -3.572194
4       Moffat  40.608314 -108.252345

In [25]:
location.to_csv('C:/Users/krishna/Desktop/xyz.csv',index=False)